/* 
 *     Typora Theme - Alto    /    Author - Seeridia
 *     https://github.com/Seeridia/typora-theme-alto
 *     
 *     Version - 2.0.0-beta.1
 */

@import "lapis.css";

/* 
 * 说明 / Instructions

选择你喜欢的主题，套用 Alto 的界面吧！
Choose your favorite theme and apply the Alto interface!

@import "github.css";
@import "newsprint.css";
@import "night.css";
@import "whitey.css";
@import "pixyll.css";

默认是 Lapis 主题，你可以在上面的代码中选择你喜欢的主题，然后替换上方的 '@import "lapis.css";' ，重启 Typora 即可。
The default is Lapis theme, you can choose your favorite theme from the code above and replace '@import "lapis.css";' with the theme you like, then restart Typora.

其他第三方主题请自行下载替换上面的代码，不一定能完全适配，请自行测试。也可以提交 issue 请求适配，或者发起 PR 贡献代码。
Other third-party themes can be downloaded and replaced with the code above, but they may not be fully adapted, please test them by yourself.
You can also request the adaptation by submitting an issue or submitting a PR to contribute code.

Enjoy!

*/

/* 
 * 参考颜色 / Reference color

目前仅有一直蓝色，其他颜色正在找......
Current only has a blue color, other colors are being found...

Blue 蓝
--alto-main-color: #487dac;
--alto-bg-color: #e8f4ff;

*/

:root {

    /* Alto Own Color */
    --alto-main-color: #487dac;
    --alto-bg-color: #e8f4ff;
    --alto-content-color: #fff;
    --bg-color: var(--alto-bg-color);
}

html {
    background-color: var(--alto-bg-color);
}

/*
 * 书写区域
 * Write
 */

.outline-btn {
    transform: rotate3d(-1, -1, 0, 15deg);
}

#top-titlebar *,
#top-titlebar {
    background-color: transparent !important;
}

content {
    background-color: var(--alto-content-color);
    border-radius: 8px !important;
    margin: 2px 8px 8px 8px;

}

/* 书写区域鼠标移入的动画 */
content:hover {
    margin: 0px 5px 5px 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);
}

/* 使得小窗口下，书写区域放大后底栏不遮挡 */
footer.ty-footer {
    background-color: transparent;
}

.stopselect.ty-footer {
    border-top-width: 0px;
}

/* 书写区域与侧边栏的右键菜单 */
[role="menu"] {
    border-radius: 7px;
    border: #d1d6d9 solid 1px;
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 0.5rem;
}

#write {
    margin-bottom: 0px;
}

/*
 * 侧边栏
 * Sidebar
 */

/* 侧边栏主颜色 */
#typora-sidebar {
    background-color: transparent;
    color: var(--text-color);
}

#sidebar-content.sidebar-content {
    top: 4rem;
}

/* 侧边栏边框 */
#typora-sidebar {
    border-right: none !important;
}

.file-tree-node.active>.file-node-background {
    display: none;
}

.file-list-item.file-library-node.file-library-file-node.active,
.file-library-node.file-tree-node.file-library-file-node.active {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
}

.active-tab-files #info-panel-tab-file .info-panel-tab-border,
.active-tab-outline #info-panel-tab-outline .info-panel-tab-border,
.ty-show-search #info-panel-tab-search .info-panel-tab-border {
    display: none !important;
}

.file-library-node.file-tree-node.file-library-file-node:hover {
    background-color: #ffffff50;
}

#file-library-tree {
    padding-right: 8px;
}

#file-library-tree .file-tree-node {
    padding-top: 0px;
    padding-bottom: 0px;
}

.file-node-content {
    color: var(--text-color) !important;
    line-height: 2.1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
}

.file-node-icon.fa.fa-folder {
    color: var(--alto-main-color);
}

.file-node-on-edi,
#file-library-search-input {
    border-radius: 6px;
}

.file-library-node.file-tree-node.file-library-file-node.active:hover {
    background-color: #fff;
}

.file-library-node.file-tree-node.file-library-file-node:hover {
    background-color: #f9fbff;
    border-radius: 6px;
}

.sidebar-footer-item.footer-item-right.footer-btn.file-action-item.not-empty-menu-group.show {
    padding-top: 0px;
}

#typora-sidebar .file-tree-node.file-library-file-node:not(.active):hover .file-node-background {
    background-color: transparent;
}

#sidebar-files-menu {
    border-radius: 7px;
    border-color: #fff !important;
    margin-bottom: 5px;
    margin-left: 2px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.03);
    color: var(--text-color);
}

#ty-tooltip {
    border-radius: 5px;
    border-color: #fff !important;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.03);
    color: var(--text-color);
}

footer.ty-footer {
    padding-left: 4px;
    padding-right: 0px;
}

.sidebar-menu .dropdown-menu>li>a,
.sidebar-menu .dropdown-menu>li>a:focus,
.sidebar-menu .dropdown-menu>li>a:hover {
    color: var(--text-color);
}

.dropdown-menu>li>a:hover {
    background: #f9fffd;
    border-radius: 7px;
}

/*
 * 一体化菜单
 * Menu - Unibody
 */

.dropdown-menu.megamenu-menu-list.dropdown-menu>li>a:hover {
    background: #f9fffd;
    border-radius: 0px;
}

.megamenu-menu {
    box-shadow: none;
    border-right: none !important;
}

.megamenu-menu,
.ion-android-arrow-back:before,
.megamenu-menu-header-title-menu,
.megamenu-menu-header-title-back {
    background-color: transparent;
    color: var(--text-color);
}

.megamenu-menu-header {
    border-bottom: 0px;
}

.megamenu-menu-panel h1,
.megamenu-menu-panel h2 {
    font-family: 'SourceHanSerifCN';
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 10px;
    color: var(--alto-main-color);
}

#recent-file-panel tbody tr {
    border-radius: 6px;
    font-family: 'SourceHanSerifCN';
}

#recent-file-panel tbody tr:hover {
    background-color: var(--alto-bg-color);
}

.long-btn:last-of-type,
.long-btn.do-export-button {
    border-radius: 6px;
}

#recent-file-panel-search-input,
#recent-file-panel-action-btn {
    margin: 12px 0px 0px;
    border-radius: 6px;
    background-color: #fff;
}

.megamenu-menu-panel {
    margin-top: 0px !important;
    border-bottom: 1px solid var(--alto-main-color);
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 20px;
    width: auto;
}

.megamenu-menu-panel:has([data-localize="Recent Documents"]),
.megamenu-menu-panel:has([data-localize="Image"]),
.megamenu-menu-panel:has([data-localize="Open Theme Folder"]),
.megamenu-menu-panel:has([data-localize="Contact"]) {
    border-bottom: 0px;
}

.menu-style-btn {
    border: 0px;
}

.megamenu-section {
    background-color: #fff;
    border-radius: 8px !important;
    margin: 10px 0px 5px 0px;
    width: 100%;
}

.megamenu-menu-panel.megamenu-menu-content-section {
    margin-bottom: 0px;
}

.megamenu-menu-list li a,
.megamenu-menu-list:not(.saved) li a {
    border-left: transparent solid 3px;
    margin-left: 5px;
}

.megamenu-menu-list li a.active,
.megamenu-menu-list:not(.saved) li a:hover {
    background-color: transparent;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: var(--alto-main-color);
    font-weight: bold;
}

.megamenu-menu-list li a.active {
    border-left: var(--alto-main-color) solid 3px;
}

.megamenu-menu-list:not(.saved) li a:hover {
    border-left: #aeaeae solid 3px;
}

.theme-preview-div.active .fa {
    display: none;
}

/* 打开、导出、主题界面的按钮动画 */
.long-btn,
.theme-preview-div {
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: scale(0.98);
}

.long-btn:hover,
.theme-preview-div:hover {
    transform: scale(1);
}

header,
#megamenu-content {
    background-image: none !important;
    background-color: var(--alto-bg-color);
}

#recent-document-table {
    border-radius: 7px;
}